video {
  border: 1px solid black;
  margin: 0;
  max-width: 90%;
}

/* Hide canvas used for capturing images */
canvas {
  display: none;
  visibility: hidden;
}

.camera-wrapper {
  align-content: center;
  height: auto;
  margin: 0;
  padding: 0;
}

.compat-notice {
  font-size: 12px;
  font-style: italic;
}

.result-text {
  font-size: 1.5rem;
  font-weight: bold;
}